#inputBar{
  border-radius: 24px;
  width: 600px;
}

#glogo{
  height: 233px;
  margin-bottom: 100px;
  padding-bottom: 272px;
}

#googleImg{
  padding-top:109px;
  width: 500px;
}

.center{
    text-align: -webkit-center;
}

#buttons{
  padding-top: 20px;
}

.nav-item{
  padding-left: 27px;
}
